body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

#colordisplay {
    font-size: 200%;
}

.square {
    width: 30%;
    background:purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 20px;
    transition: all 0.3s;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: white;
    text-align: center;
    margin: 0;
    background: steelblue;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color : black;
}
.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: inherit;
    color: steelblue;
    transition: all 1s;
}
#message {
    width: 20%;
    display: inline-block;
}

button:hover {
    color: white;
    background: steelblue;
}